html, body {
height: 100%;
margin: 0;
padding: 0;
}
#map {
position: absolute;
width: 375px;
height: 531px;
left: 0px;
top: 279px;
}
#lat{
position: absolute;
width: 156px;
height: 25px;
left: 75px;
top: 224px;
}
#lng{
position: absolute;
width: 156px;
height: 25px;
left: 75px;
top: 258px;
}
#latText{
position: absolute;
width: 61px;
height: 25px;
left: 11px;
top: 231px;
}
#lngText{
position: absolute;
width: 59px;
height: 25px;
left: 7px;
top: 265px;
}
#PortadaEdificiosImg {

position: absolute;
width: 609px;
height: 300px;
left: -234px;
top: -8px;
}
#Boton{
position: absolute;
width: 112px;
height: 50px;
left: 253px;
top: 233px;
}
